body {
    margin: 0px;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    background-color: #424242;

}

.wrap {
    max-width: 100%;
}

header.main-header {
    display: flex;
    align-items: center;
    height: 320px;
    background-image: url(https://seatup.com/blog/wp-content/uploads/2018/05/best-star-wars-header-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    width: 100%;
}

.h1-header {
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 69px;
    letter-spacing: 0.15em;
    color: #FFD600;
    margin-left: 50px;
}

.main {
    background-color: #424242;
    display: flex;
    flex-direction: column;
}

.box-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 620px;
}

.content-box {
    display: flex;
    flex-direction: column;
    background-color: #C4C4C4;
    width: 450px;
    height: 100%;
    margin: 50px auto 50px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    letter-spacing: 0.2em;
    font-family: 'Roboto',
        sans-serif;
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #535556;
    height: 76px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #FFD600;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.2em;
    text-align: center;
}

.char-list-container {
    height: 90%;
}

.char-list {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;

}

.char-list-item {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: 'Roboto',
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    list-style: none;
    padding-left: 40px;
    letter-spacing: 0.15em;
}

li:nth-child(odd) {
    background-color: #8E8E8E;
    color: #FFFFFF;
}

li:nth-child(even) {
    background-color: #E1DEDE;
    color: #535556;
}

li.activeLi {
    background-color: #444444;
    color: #FFFFFF;
    padding-left: 50px;
}

section.characters .side-count {
    display: flex;
    justify-self: end;
    align-self: center;
    justify-content: space-between;
    height: 30px;
    width: 50%;
    margin-bottom: 5px;
    font-size: 30px;
    font-family: 'Roboto',
        sans-serif;
}

.side-count p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

img.arrow {
    width: 30px;
    height: 30px;
}

section.details .box-header {
    background-color: #748687;
}

.person,
.planet {
    height: 272px;
    padding-left: 40px;

}

.content-box h3 {
    font-size: 30px;
    line-height: 35px;
}

.person p,
.planet p {
    font-size: 18px;
}

section.details .planet {
    background-color: #8E8E8E;
    color: #FFFFFF;
}
@media screen and (min-width: 950px) {
    .main{
        flex-direction: row;
    justify-content: space-around;
    }
    .box-container{
        flex-direction: row;
        justify-content: space-around;
    }
    .content-box {
        margin-top: -50px;
    }
}
@media screen and (min-width: 1200px){
.box-container {
    width: 90%;
}

}